
.modal2 {
  display: none; /* Hidden by default */
  position: relative; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0); /* Black w/ opacity */
   /* margin-top: -250px;*/
    position: fixed;
    z-index: 20;
}

/* Modal Content/Box */
.modal-content2 {
  background-color:#dab3f5;
  margin: 14% auto; /* 15% from the top and centered */
  padding: 0px;
  width: 604px; 
    border: none;
    border-radius:    0px;
    box-shadow: -5px 5px 10px #c282ef;

}
.homepopup{
    font-size: 127px;
    color: #c282ef;
    text-align: center;
    padding-top: 20px
}
.homepopup2{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-align: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.homepopup3{
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;

}
.questionhome{
margin-left: 5px;
    max-width: 35px;
    margin-top: 15px;
    z-index: 1;
    position: fixed;
}
.questionhome:hover{
    max-width: 40px;
    transition: 0.3s ease;
    margin-left: 3px;
    margin-top: 12px;
}
.introbtn{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #c282ef;
    color: white;
}
.introbtn:hover{
    background-color: #ce99f3;
    color: white;
}
.backbtn:hover{
    background-color: #ce99f3;
    color: white;
}
.backbtn{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #c282ef;
    color: white;
}
.flash{
   position: relative;
    margin: 2px;
}










.baffled{
    text-align: center;
    font-size: 127px;
    line-height: 150px; 
    font-weight: 700;
}
.baffledtitle{
    max-width: 883px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}
  .baffledtitlemobile{
    display: none;
}
.baff{
    font-family: 'Oswald';
}
.landbody{
    background-color: #c282ef;
    height: 100vh;
}
.comphome2{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 20px;
    max-width: 200px;
}
.landing{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}
.presents{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 13vh;
}
.landbutton{
    padding-left: 30px;
    padding-right: 30px;
    background-color: #dab3f5;
    padding-top: 10px;
    padding-bottom: 10px;
}
h19{
    font-size: 18px;
    color: white;
}
h19:hover{
    color: #c282ef;
}
.landrow2{
    max-width:285px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}


body {
    font-family: 'Oswald', sans-serif;
}
.homeeye{
    align-content: center;
    padding-left: 18.75%;
    padding-right: 18.75%;
}

.homerow1{
    background-color: #ffb1ba;
}
.homerow2{
    background-color: #dab3f5;
}
.homebox1{
    background-color: #6cccff;
    text-align: center;
}
.homebox12{
    background-color: #6cccff; 
    margin-left: 5%;
}
.homebox2{
    background-color: #ffb1ba;
}
.homebox22{
    background-color: #ffb1ba; 
}
.homebox3{
    background-color: #6cccff;
}
.homebox32{
    background-color: #6cccff;
    margin-right: 5%;
}
.homebox4{
    background-color: #65face;
}
.homebox42{
    background-color: #65face;
    margin-left: 5%;
}
.homebox5{
    background-color: #dab3f5;
}
.homebox52{
    background-color: #dab3f5; 
}
.homebox6{
    background-color: #65face;
}
.homebox62{
    background-color: #65face;
    margin-right: 5%;
}
.homebox7{
    background-color: #ffb1ba;
}
.homebox72{
    background-color: #ffb1ba;
    margin-left: 5%;
}
.homebox8{
    background-color: #6cccff;
}
.homebox82{
    background-color: #6cccff; 
}
.homebox9{
    background-color: #dab3f5;
}
.homebox92{
    background-color: #dab3f5;
    margin-right: 5%;
}

.homeboxsmblue{
    background-color: #6cccff;
    text-align: center;
}
.homeboxsmblue:hover{
    
}
.homeboxsmred{
    background-color: #ffb1ba;
    text-align: center;
}
.homeboxsmred:hover{
    
}
.homeboxsmgreen{
    background-color: #65face;
    text-align: center;
}
.homeboxsmgreen:hover{
   
}
.homeboxsmpurple{
    background-color: #dab3f5;
    text-align: center;
}

.phoneboxhover{
    color: white;
}

.hometitle{
    font-size: 27px;
  color: white;
    z-index: 4;
    margin-top: 6vh;
    position: absolute;
    white-space: nowrap;
}
.hometitlesm{
    font-size: 2.1vh;
    margin-top: .5vh;
    text-align: center;
    white-space: nowrap;
}
.blue{
    color:#008cff; 
}
.ablack:hover{
    color: black;
}
.blue2{
    color: #6cccff;
}
.red{
    color:#fc5162; 
}
.green{
    color:#00ce9c; 
}
.textgreen{
    color: #00a47b;
}
.purple{
    color:#c282ef; 
}
.purple2{
    color:#dab3f5; 
}
.black{
    color: black;
}
.white{
    color: white;
}
.bold{
    font-weight: 700;
}
a:hover{
    text-decoration: none
}


.cap1{
    max-width: 135px;
    margin-left: auto;
    margin-right: auto;
}
.cap2{
    max-width: 217px;
    margin-left: auto;
    margin-right: auto;
}
.cap3{
    max-width: 214px;
    margin-left: auto;
    margin-right: auto;
}
.cap4{
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.cap5{
    max-width: 205px;
    margin-left: auto;
    margin-right: auto;
}
.cap6{
    max-width: 154px;
    margin-left: auto;
    margin-right: auto;
}
.cap7{
    max-width: 197px;
    margin-left: auto;
    margin-right: auto;
}
.cap8{
    max-width: 225px;
    margin-left: auto;
    margin-right: auto;
}
.cap9{
    max-width:60px;
    margin-left: auto;
    margin-right: auto; 
}

.homebox{ 
    position: relative;
    z-index: 5;
/*    height: 33vh;
    overflow: auto;*/
    margin-top: 9vh;
    cursor:;
}
.homeboxmiddle{ 
    position: relative;
    z-index: 5;
/*    height: 34vh;
    overflow: auto;*/
    margin-top: 9vh;

}
.homebox:hover{
    opacity: 0;
}
.homeboxmiddle:hover{
    opacity: 0;
}
.homeheight1{
  height: 33vh;
    overflow: auto;  
}
.homeheight2{
  height: 34vh;
    overflow: auto;  
}
.phoneheight1{
  height: 18.5vh;
    overflow: auto;  
}
.phoneheight2{
  height: 26vh;
    overflow: auto;  
}
.phonesmtop{
    margin-top: 1.8vh;
}
.phonesmtop2{
    margin-top: 0.8vh;
}
/*//////////////HOME///////////////*/















/*//////////////SCREEN TIME///////////////*/
.screenrow5{
      padding-top: 400px; 
}
.screentimep1{
    max-width: 608px;
    margin-left: auto;
    margin-right: auto;padding-bottom: 240px;
}
 .locationp1{
    max-width: 614px;
      margin-left: auto;
      margin-right: auto;
         padding-bottom: 150px;
    }
.screentimep2{
    color: #008cff;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 200px;
}
h2{
    font-size: 27px;
    color: white;
    font-family: 'Oswald';
}
.load{
   padding-top: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10vh;
    padding-right: 10vh;
}
.img-fluid {
 max-width: 100%; 
  height: auto;
}
.screentimep3{
    color: white;
    font-family: Roboto;
    font-size: 27px;
    line-height: 36px;
    padding-bottom: 240px;
}

.squareeye{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 275px;
    padding-bottom: 10vh;
}
p{
    font-size: 27px;
    line-height: 36px;
    font-family: Roboto;
    font-weight: 100;
}









/*////////////////BUTTONS BOTTOM PAGE////////////*/
.redbutton{
    background-color: #ffb1ba;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 0px;
    font-size: 18px;
    width: 205px;
    display: inline-block;
}
.redbutton2{
    background-color: #ffb1ba;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 18px;
    font-size: 18px;
    width: 205px;
    display: inline-block;
}
.redbutton:hover{
    color: white;
    /*background-color: #fc5162;*/
}
.redbutton2:hover{
    color: white;
    /*background-color: #fc5162;*/
}
.validbutton{
    background-color: #6cccff;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-right: 0px;
    font-size: 18px;
    width: 205px;
    display: inline-block;   
}
.validbutton2{
    background-color: #6cccff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    font-size: 18px;
    width: 205px;
    display: inline-block;   
}
.validbutton:hover{
    color: white;
    /*background-color: #fc5162;*/
}
.validbutton2:hover{
    color: white;
    /*background-color: #fc5162;*/
}
.supportbutton{
    background-color: #65face;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-right: 0px;
    font-size: 18px;
    width: 205px;
    display: inline-block;   
}
.supportbutton:hover{
   color: white; 
}
.supportsm{
  margin-top: -3px;
    margin-left: 30px;
    margin-right: 0px;
    width: 50px; 
    padding-left: 0px;
}
.supportbutton2{
    background-color: #65face;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 50px;
    font-size: 18px;
    width: 205px;
    display: inline-block;   
}
.supportbutton2:hover{
   color: white; 
}
.supportsm2{
  margin-top: -3px;
    margin-left: 0px;
    margin-right: 0px;
    width: 50px; 
}

.privbutton{
    background-color: #dab3f5;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-right: 0px;
    font-size: 18px;
    width: 205px;
    display: inline-block;   
}
.privsm{
    margin-top: -3px;
    margin-left: 35px;
    margin-right: 0px;
    width: 50px;
}
.privbutton:hover{
    color: white;
    /*background-color: #fc5162;*/
}
.privbutton2{
    background-color: #dab3f5;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 50px;
    font-size: 18px;
    width: 205px;
    display: inline-block;   
}
.privsm2{
    margin-top: -3px;
    margin-left: 0px;
    margin-right: 0px;
    width: 50px;
}
.privbutton2:hover{
    color: white;
    /*background-color: #fc5162;*/
}
.screenbutton:hover{
    color: white;
    /*background-color: #fc5162;*/
}
.screenbutton{
    background-color: #6cccff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    font-size: 18px;
    width: 205px;
    display: inline-block;   
}
.locationsm{
    margin-top: -3px;
    margin-left: -5px;
    margin-right: -7px;
    width: 50px;
}
.locationsm2{
    margin-top: -3px;
    margin-left: -5px;
    margin-left: -9px;
    width: 50px;
}
.validsm{
    margin-top: -3px;
    margin-left: 0px;
    margin-right: -7px;
    width: 50px;
}
.screensm{
    margin-top: -3px;
    margin-left: -5px;
    padding-left: 9px;
    width: 50px;
}
.convobutton{
    background-color: #65face;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 18px;
    font-size: 18px;
    width: 205px;
    display: inline-block;
}
.convobutton2{
    background-color: #65face;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 36px;
    padding-right: 2px;
    font-size: 18px;
    width: 205px;
    display: inline-block;
}
.convobutton:hover{
    color: white;
    /*background-color: #fc5162;*/
}

.convobutton2:hover{
    color: white;
    /*background-color: #fc5162;*/
}

.convosm{
    margin-top: -3px;
    margin-left: 5px;
    width: 50px;
}


.dangerhome{
    font-size: ;
    color: white !important;
    position: fixed;
    margin-top: 35px;
    margin-left: 35px;
    z-index: 100;
    font-size: 28px;
}
h31{
   color: white;
}

.dangerbutton{
    background-color: #ffb1ba;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 15px;
    font-size: 18px;
    width: 205px;
    display: inline-block;   
}
.dangerbutton:hover{
    color: white;
    /*background-color: #fc5162;*/
}
.dangersm{
    margin-top: -3px;
    margin-left: -5px;
    margin-left: 20px;
    width: 50px;
}

.arrowright{
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;   
  border-right:7px solid #fc5162; 
    position: relative;
    
}
.arrowleft{ 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;   
  border-left:7px solid #fc5162; 
}


.cyberbutton{
    background-color: #dab3f5;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-right: 0px;
    font-size: 18px;
    width: 205px;
    display: inline-block;   
}
.cyberbutton:hover{
   color: white; 
}
.cybersm{
  margin-top: -3px;
    margin-left: 30px;
    margin-right: 0px;
    width: 50px; 
    padding-left: 0px;
}
.dangerbutton2{
    background-color: #ffb1ba;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-left: 48px;
    font-size: 18px;
    width: 205px;
    display: inline-block;
}
.dangerbutton2:hover{
   color: white; 
}
.dangersm2{
    margin-top: -3px;
    margin-left: 5px;
    margin-left: -9px;
    width: 50px;
}
/*//////////////SCREEN TIME///////////////*/


.requestbutton{
    background-color: #6cccff;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    font-size: 18px;
    width: 205px;
    display: block;
    padding-right: 10px;
    margin-top: -10px;
}
.requestbutton:hover{
    color: white;
    /*background-color: #fc5162;*/
}
.reqadjust{
    margin-top: -10px;
}
.requestsm{
    padding-top: 2px;
    margin-left: 5px;
    width: 50px;
}








.dangerspan1{
    padding: 10px;
}
.dangerrow1{
   /* display: inline-block;*/
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 250px;
}

.dangertitle{
    text-align: center;
    font-size: 127px;
    color: #fc5162;
    margin-top: -2vh;
}
.introdanger{
        margin-left: auto;
        margin-right: auto;
        max-width:510px;
       padding-bottom: 200px;
}
.supportdanger{
    background-color: #65face;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-left: 50px;
    font-size: 18px;
    width: 205px;
    margin-right: 10px;
}
.supportdanger:hover{
   color: white; 
}
.requestdanger{
    background-color: #6cccff;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 0px;
    font-size: 18px;
    width: 205px;
    padding-right: 10px;
    margin-left: 10px;
}
.requestdanger:hover{
    color: white;
    /*background-color: #fc5162;*/
}










/*//////////////PRIVACY///////////////*/

.popup{
    margin-left: auto;
    margin-right: auto;   
}
.on{
    padding-top: 200px;
    left: 580px;
    right: 41vw;
    background-color: transparent;
    position: relative;
    z-index: 5;
    display: block;  
}
.off{
    background-color: transparent;
    position: absolute;
    z-index: 3;
    display: block;
    padding-top: 200px;
    left: 595px;
    right: 41vw;
}
.on:hover{
    opacity: 0;
}
.dropdownglyph {
    position: relative;
    display: inline-block;
}
.dropdowncontentglyph {
    display: none;
    width: 10px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
.dropdownglyph:hover .dropdowncontentglyph {
    display: block;
    margin-top:-480px;
    margin-left: auto;
    margin-right: auto;
}
.dropdowncontentglyph:hover{
    opacity: 0;
}
h4{
    color: white;
    font-size: 18px;
}
.privacyswitch{
    left: 685px;;
    position: absolute;
    margin-top: 230px;
}

.onbr{
    display: none;
}

.privp1{
    min-width: 620px;
    padding-bottom: 15vh;
}
.intropriv{
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 200px;
}
.introscreen{
    max-width: 608px;
    margin-left: auto;
    margin-right: auto;
}
.introloc{
        margin-left: auto;
        margin-right: auto;
        max-width:614px;
         widows: none;
}

.priv1{
    padding-top: 200px;
}

.screentimep2{
    color: #008cff;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 200px;
}
.privacyp1{
    max-width: 820px;
    padding-right: 152px;
    margin-left: auto;
    margin-right: auto;
}




/*//////////////PRIVACY///////////////*/



body {
  transition: background-color 0.2s ease;
}

/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 100vh;
z-index: 0;
  /* outline: 10px solid hotpink */;
  /* turn above on to see the edge of panels */
}

/* colours */
.color-palepurple {
  background-color: #dab3f5;
}
.color-purple {
  background-color: #c282ef;
}
.color-red {
    background-color: #fc5162;
}
.color-palered {
  background-color: #ffb1ba;
}
.color-palegreen {
  background-color: #65face;
}
.color-green {
  background-color: #00ce9c;
}
.color-paleblue {
    background-color: #6cccff;    
}
.color-blue {
    background-color: #008cff;    
}











/*////////////////TITLES////////////////////*/
.screentime{
    text-align: center;
    font-size: 127px;
    color: #008cff;
}
.validation{
    text-align: center;
    font-size: 127px;
    color: #008cff;
}
.privacy{
    text-align: center;
    font-size: 127px;
    color: #c282ef;
}
.support{
    text-align: center;
    font-size: 127px;
    color: #00c39c;
}
.location{
    text-align: center;
    font-size: 127px;
    color: #fc5162;
}
.home{
    position: fixed;
    margin-top: 30px;
    margin-left: 20px;
    z-index: 100;
}
h1{
    padding-top: 32vh
}

/*////////////////LOCATION////////////////////*/

.location{
    text-align: center;
    font-size: 127px;
    color: #fc5162;
    overflow-x: none;
}

.introdiv{
     align-content: center;   
}
.intro{
    color: white;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 100;
    line-height: 36px;
    font-weight: 100;
    max-width: 614px;
    padding-top: 15vh
}
.maptitle {
   color: white;
    font-size: 72px;
    position: relative;
    z-index: 3;
    margin-top: -380px;
    padding-bottom: 150px;
}
.maptitle2{
        margin-left: auto;
    margin-right: auto;
    max-width: 824px;
}
.map{
 z-index: 1;
    position: absolute;
    overflow: hidden;
}

.popphone{
    display: none;
}
.maprow2{
    padding-top: 30vh;
}
.mapdiv{
     max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.loclink1{
    color:white;
}
.loclink1:hover{
    color: black;
}
/*.locationp1{
    color: white;
    font-family: Roboto;
    font-size: 27px;
    line-height: 36px;
    min-width: 614px; 
    max-width: 615px;
    padding-bottom: 240px;
}*/
.locbounce{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 10vh;
}

.hundredgap{
    padding: 100px;
}
.icrow2{
    margin-right: auto;
    margin-left: auto;
    width: 450px;
    padding-bottom: 250px;
}
.gap {
    padding-right: 40px;
}
.footerred{
    float: right;
    font-size: 18px;
    padding-bottom: 20px;
    margin-right: 30px; 
}
.footer:hover{
    color: white;
    transform: 
    transition: 0.2s;
}

/*////////////////LOCATION////////////////////*/



/*////////////////VALIDATION////////////////////*/
.heartbounce{
    max-width: 200px;
    float: left;
}
.heartbounce2{
    padding-right: 40px;
}
.validrow1{
      padding-top: 300px; 
      max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}
.factsrow1{
      padding-top: 300px; 
      max-width: 790px;
    margin-left: auto;
    margin-right: auto;
}

.validp{
    padding-bottom: 300px;
    max-width: 590px;
    float: right;
}
.factsp{  
        padding-bottom: 240px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    }
.validp2{
    padding-bottom: 300px;
    max-width: 590px;
    float: right;
}

.introvalid{
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
}
.heartsup{
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
}
/*////////////////VALIDATION////////////////////*/



.slideshow1{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}









.palepurple{ 
  background: #e2b2ff;
  transition: background .5s ease;
  
}
.privicongif{
    padding-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    max-width: 820px; 
}
.priviconphone{
    display: none;
}
.privacy_icons{
    z-index: 2;
    position: relative;
}
/*////////////////PRIVACY////////////////////*/

.privchange1 {
   background-color: rgb(255,79,94, 56);
}
.testbody {
  text-align:  left;
  padding-top:10em;
}

* { color:rgb(159,96,228); text-decoration: none;}

.privateparts{
    padding-left: 13%;
}

.privsub{
    padding-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    text-align: left;
}

.span2 {
  border-right: .03em solid;
  animation: caret 1s steps(1) infinite;
  color: white;

}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
/*////////////////PRIVACY////////////////////*/




/*////////////////CONVO////////////////////*/
.convobubble{
    max-width: 240px;
    margin-top: -5px;
}

.convobubble2{
    padding-right: 40px;
}
.convop{
   padding-bottom: 240px;
    max-width: 610px;
    float: right;
}
.convorow1{
    padding-top: 380px; 
      max-width: 910px;
    margin-left: auto;
    margin-right: auto;
}


.convotitle {
   color: black;
    font-size: 72px;
}
.convotitle2{
    margin-left: auto;
    margin-right: auto;
    max-width: 810px;
}
.bubblesrow{
    padding-top: 250px;
}
.bubbles{
     max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.bubblesphonerow{
    display: none;
}
/*.bubbles{
 z-index: 1;
    overflow: hidden;
    max-width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}*/
/*////////////////CONVO////////////////////*/





/*////////////////SCROLL////////////////////*/

.scroll-down {
	position: relative;
	left: 50%;
	bottom: 10px;
	display: block;
	text-align: center;
	font-size: 20px;
	z-index: -1;
	text-decoration: none;
	text-shadow: 0;
    margin-top: 100px;
   
  width: 18px;
  height: 18px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: -1;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 4s ease-in-out infinite;
	-moz-animation:    fade_move_down 4s ease-in-out infinite;
	animation:         fade_move_down 4s ease-in-out infinite;

}

@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
/*////////////////SCROLL////////////////////*/




/* Setting fade transition and default settings */
body {
  transition: background-color 0.3s ease;
   
}

/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 70vh;
z-index: 0;
  /* outline: 10px solid hotpink */;
  /* turn above on to see the edge of panels */
}

/* colours */
.color-violet {
  background-color: #e2b2ff;
}
.color-indigo {
  background-color: rgb(159,96,228);
}
.color-red {
  background-color: rgb(255,79,94);
}
.color-palered {
  background-color:rgb(255,79,94, 0.56);
}
.color-yellow {
  background-color: #FAEB33;
}
.color-orange {
  background-color: #F19031;
}
.color-paleblue {
    background-color: #83d1ff;    
}
.color-blue {
    background-color: #0094ff;    
}





.rowphone{
    visibility: hidden;
    position: fixed;
}


@media only screen and (max-width: 768px){
    .homerow1{
        display: none;
}
        .homerow2{
        display: none;
}
           .homerow3{
        display: none;
}
    .rowphone{
        visibility: visible;
        position: relative;
    }
    .slideshow1{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
}
/*//////////////////SLIDESHOW/////////*/
* {box-sizing: border-box}
body {font-family: Oswald, sans-serif; margin:0; }
.mySlides {display: none}

.redbody{
    background-color: #fc5162
}
/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: black;
}




#slidetext {
  color: white;
  font-size: 9vh;
  position: relative;
  width: 80vw;
  text-align: left;
    margin-top: 20vh;
    margin-left: 17vw;
    margin-right: 10vw;
    line-height: 11vh;
}


.textblack{
color: black;
}
#slideshowback{
    background-color: transparent;
    padding-bottom: 30px;
}
/* The dots/bullets/indicators */
dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: black;
}
.dot:active{
background-color: black;
}



#dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, #dot:hover {
  background-color: black;
}
#dot:active {
  background-color: black;
}
#dot:active{
background-color: black;
}






/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}





.prevarrow{
    width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;   
  border-right:7px solid white; 
    
}
.nextarrow{
    width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;   
  border-left:7px solid white; 
    
}
/* On hover, add a black background color with a little bit see-through */
/*#prev:hover, #next:hover, */.prevarrow:hover, .nextarrow:hover {
  color: black;
    border-right-color: black;
    border-left-color: black;
}
/*//////////////////SLIDESHOW/////////*/














/*////////////////FREIND REQUEST////////////////////*/

.introrequest{
   max-width: 608px; 
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30vh;
}
.requestp{
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 200px;
}











/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: relative; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0); /* Black w/ opacity */
   /* margin-top: -250px;*/
}

/* Modal Content/Box */
.modal-content {
  background-color:#ff9faa;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 0px;
  width: 600px; 
    border: none;
    border-radius:    0px;
    box-shadow: -5px 5px 10px #0063cc;
}

/* The Close Button */
.close {
  color: white;
  margin-left: 95%;
  font-size: 30px;
  font-weight: bold;
    margin-top: -30px;
    text-decoration: none;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.close2:hover,
.close2:focus {
  text-decoration: none;
  cursor: pointer;
}

.popup{
    text-align: center;
}
.popupblack{
  color: black;
}
.requesticon{
    margin-left: 43%;
    margin-right: 43%;
    padding-bottom: 30px;
    padding-top: 10px;
}

.requestbtn{
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;

}
.accept{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #fc5162;
    color: white;
}
.accept:hover{
    background-color: #fc7388;
    color: white;
}
.seriously:hover{
    background-color: #fc7388;
    color: white;
}
.seriously{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #fc5162;
    color: white;
}
.space1{
    padding: 10px;
}
.flash{
   position: relative;
    margin: 2px;
}
.requesticon2{
margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    margin-top: 200px;
    z-index: 1;
  padding-bottom: 00px;
        margin-top: 100px;
}

.decision{
    font-size: 54px;
    color: white;
     text-align: center;
}

/*////////////////FREIND REQUEST////////////////////*/



/*////////////////SUPPORT////////////////////*/

.supportp1{
    padding-bottom: 15vh;
}
.supportp2{
    margin-left: auto;
    margin-right: auto;
    max-width: 605px;
    padding-bottom: 240px;
}
 .introsupport{
        margin-left: auto;
        margin-right: auto;
        max-width:648px;
     padding-top: 100px;
     padding-bottom: 200px;
    }

    .network1{
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }
.network2{
        margin-left: auto;
        margin-right: auto;
        max-width: 350px;
    display: none;
    }

/*////////////////SUPPORT////////////////////*/







/*////////////////CONTRACT////////////////////*/

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: relative; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0); /* Black w/ opacity */
    margin-top: -250px;
}


/* Modal Content/Box */
.modal-content {
  background-color:#ff9faa;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 0px;
  width: 600px; 
    border: none;
    border-radius:    0px;
    box-shadow: -5px 5px 10px #0063cc;
}

/* The Close Button */
.close {
  color: white;
  margin-left: 95%;
  font-size: 30px;
  font-weight: bold;
    margin-top: -30px;
    text-decoration: none;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.close2:hover,
.close2:focus {
  text-decoration: none;
  cursor: pointer;
}

.popup{
    text-align: center;
}
.popupblack{
  color: black;
}
.contracticon{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-top: 30px;
}

.requestbtn{
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;

}
.print{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #00ce9e;
    color: white;
}
.print:hover{
    background-color: #65face;
    color: white;
}
.seriously:hover{
    background-color: #fc7388;
}
.seriously{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #fc5162;
}
.space1{
    padding: 10px;
}
.flash{
   position: relative;
    margin: 2px;
}

/********************/
.modalcontract{
    background-color:#94ffe5 !important;
    box-shadow: -5px 5px 10px #00ce9c !important; 
}
.modalcontract2{
    padding-top: 50vh;
}

/*////////////////CONTRACT////////////////////*/
.warningcomp3{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    overflow: hidden;
}
.congratsbody{
    background-color: #008cff;  
}
.backtoweb2{
    background-color: #6cccff;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.warningbody{
    background-image: url(file:///Users/apple/Documents/3rd%20Year%20Viscom/Website_coding/redesign/Warning.gif);
    background-repeat:repeat-y;
    background-position: center;
    background-size: cover;
    z-index: 1;   
}
.warningcomp2{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    overflow: hidden;
}
.warningmobile{
    display: none;
}
.congratsmobile{
    display: none;
}
.warningp{
    color: white;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    margin-top: -60vh;
    position: relative;
 
}
.congratsp{
    color: white;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    margin-top: -60vh;
    position: relative;
 
}

.warning{
       max-width: 380px;
    margin-left: auto;
    margin-right: auto;
}
.backtoweb{
    background-color: #ffb1ba;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.backrow1{
    float: right;
    margin-right: 10px;
    margin-bottom: 20px;
}
.webhover:hover{
    color: white !important;
}

/*//////////////////CYBERSAFE/////////*/

.phonehome{
    display: none;
    padding-top: 15vh;
}
.phonehome2{
    display: none;
    padding-top: 20px;
}
.comphome{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 15vh;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}





.cyberintro{
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
    padding-bottom: 20vh;
}
.cyberwhatwedo{
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vh;
    padding-bottom: 45vh;
}
.contactlinks{
    max-width: 945px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40vh;
}
.contactgap{
    padding-left: 150px;
}
.contactlink{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.centrecontact{
    max-width: 215px;
    margin-left: auto;
    margin-right: auto;
}
.centre{
    text-align: center !important;
}
.contactlink:hover{
    color: white;
}
.env1{
    margin-left: 0px;
}
.env2{
    opacity: 0;
    z-index: 6;
    display: block;
    margin-left: 7px;
    margin-top: -200px;
}
.env2:hover{
    opacity: 100;
}
.link1:hover {
  animation: shake 0.5s; 

  /* When the animation is finished, start again */
  animation-iteration-count: infinite; 
}
/*//////////////////CYBERSAFE/////////*/



.bluefootshort{
    display: none;
    opacity: 0;
    font-size: 18px;
    color: #008cff;
}











/*//////////////////MEDIA QUERIES/////////*/

@media only screen and (min-width: 1200px){
  /*  .maprow{
    margin-left: 10vw;
    margin-right: 5vw;
}*/
    .modal-content{
width: 600px; 
}
    .locrow2{
        padding-left: 5vw;
    }
   
}








@media only screen and (max-width: 1200px){
   .warningcomp{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
}














@media only screen and (max-width: 1200px){
   .on{
    left: 475px;
    right: 41vw;
}
.off{
    left: 490px;
    right: 41vw;
}
.on:hover{
    opacity: 0;
}
.dropdownglyph {
    position: relative;
    display: inline-block;
}
.dropdowncontentglyph {
    display: none;
    width: 10px;
    margin-left: ;
    margin-right: auto;
    z-index: 1;
}
.dropdownglyph:hover .dropdowncontentglyph {
    display: block;
    margin-top:-450px;
    margin-left: 5vw;
    margin-right: 5vw;
}
    .popcomp{
        width: 90vw;
    }
.dropdowncontentglyph:hover{
    opacity: 0;
}
h4{
    color: white;
    font-size: 18px;
}
.privacyswitch{
    left: 583px;;
    position: absolute;
    margin-top: 230px;
}
}















@media only screen and (max-width: 728px){
        .modal-content{
width: 500px;
}
    h2{
        font-family: "Oswald";
        font-size: 24px;
    }
    .maptitle{
        padding-top: 30vh;
        font-size: 54px;
    }
     .maptitle2{
        max-width: 446px;
        margin-left: auto;
        margin-right: auto;
    }
    br{
        display: none;
    }
    .intropriv{
        margin-left: auto;
        margin-right: auto;
        max-width:369px;
    }
    .introdanger{
        margin-left: auto;
        margin-right: auto;
        max-width:340px;
       padding-bottom: 200px;
}
    .introscreen{
        margin-left: auto;
        margin-right: auto;
        max-width:369px;
    }
    p{
        font-size: 18px !important;
        line-height: 24px !important;
        font-weight: 100;
    }
     .screentimep1{
    max-width: 387px;
      margin-left: auto;
      margin-right: auto;
         padding-bottom: 150px;
    } 
     .locationp1{
    max-width: 384px;
      margin-left: auto;
      margin-right: auto;
         padding-bottom: 150px;
    }
    .locationp1{
    max-width: 384px;
      margin-left: auto;
      margin-right: auto;
         padding-bottom: 150px;
    } 
    .introloc{
        margin-left: auto;
        margin-right: auto;
        max-width:369px;
         widows: none;
    }
    /*.introvalid{
        margin-left: auto;
        margin-right: auto;
        max-width:370px;
         widows: none;
    }*/
    .onbr{
        display: block;
    }
    
    

  
    
    .heartbounce2{
    max-width: 170px;
        margin-left: auto;
        margin-right: auto;
}
.validrow1{
      padding-top: 200px; 
      max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
    .factsrow1{
      padding-top: 200px; 
      max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
    .factsp{
        padding-top: 40px;
        padding-bottom: 240px;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    }

.validp{
    padding-bottom: 240px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    float: right;
}
.validp2{
    padding-bottom: 240px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.introvalid{
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
}
    
    
    
    
    .introsupport{
        margin-left: auto;
        margin-right: auto;
        max-width:369px;
        padding-top: 100px;
    }
    
    .supportp2{
    margin-left: auto;
    margin-right: auto;
    max-width: 383px;
    padding-bottom: 240px;
}
    .privacyp1{
    max-width: 385px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
}
    .privicongif{
        display: none;
    }
    .priviconphone{
        max-width: 600px;
        min-width: 300px;
        height: inherit;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-bottom: 200px;
    }
    
    .convobubble{
    max-width: 240px;
}
    
     .convobubble2{
    max-width: 240px;
        margin-left: auto;
        margin-right: auto;
         padding-bottom: 96px;
}

.convorow1{
      padding-top: 280px; 
      max-width: 392px;
    margin-left: auto;
    margin-right: auto;
}

.convop{
    padding-bottom: 240px;
    max-width: 
}
    .convotitle{
        padding-top: 0vh;
        font-size: 54px;
    }
     .convotitle2{
        max-width: 446px;
        margin-left: auto;
        margin-right: auto;
    }
    .bubblesphonerow{
        display: block;
        max-width: 90vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;
    }
    .bubblesrow{
        display: none;
    }
    

    #slidetext {
      color: white;
      font-size: 52px;
      position: relative;
      max-width: 500px;
      text-align: left;
        margin-top: 20vh;
        margin-left: auto;
        margin-right: auto;
        line-height: 60px;
    }
    
    .supportdanger{
    margin-right: 0px;
        margin-bottom: 1000px;
    }
    .supportdanger:hover{
       color: white; 
    }
    .requestdanger{
        margin-left: 0px;
        padding-left: 7px;
        margin-top: 80px;
    }
    .requestdanger:hover{
        color: white;
        /*background-color: #fc5162;*/
    }
    .dangerrow1{
       /* display: inline-block;*/
        max-width: 215px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
.introrequest{
   max-width: 369px; 
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30vh;
}
.requestp{
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 200px;
}
    .cyberintro{
    max-width: 397px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
        padding-bottom: 5vh;
}
    .cyberwhatwedo{
    max-width: 390px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vh;
    padding-bottom: 45vh;
}
    
    
    .contactlinks{
    max-width: 215px;
    margin-left: auto;
    margin-right: auto;
}
.contactgap{
    padding-left: 0px;
    padding-top: 0px
}
.contactlink{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.centrecontact{
    max-width: 215px;
    margin-left: auto;
    margin-right: auto;
}
.centre{
    text-align: center !important;
}
.contactlink:hover{
    color: white;
}
.env2{
    opacity: 0;
    z-index: 6;
    display: block;
    margin-left: 7px;
    margin-top: -200px;
}
    .contacttitle{
        padding-top: 20px;
        font-size: 18;
    }
    .warningp{
    color: white;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    top: 20vh;
    position: relative; 
}
    .network2{
        margin-left: auto;
        margin-right: auto;
        max-width: 350px;
    display: block;
    }
    .network1{
        display: none;
    }
    .footercentre{
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40px;
    }
    .addressfoot{
        display: none;
    }
.bluefootshort{
    display: block;
    opacity: 1;
        color: #008cff;
    text-align: center;
    }
    .footercyberlogo{
        padding:  10px;
    }


}







/*//////////////SMALL//////////*/

@media only screen and (max-width: 576px){
       .flash2{
   position: relative;
    margin: 2px;
    width: 298px ;
    height: 25px;
}
    
    .baffledtitle{
        display: none;
    }
      .baffledtitlemobile{
          display: block;
    margin-top: 17vh;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
}
    .landrow2{
        margin-top: 40px;
    }
    

/* Modal Content/Box */
.modal-content2 {
  background-color:#dab3f5;
  margin: 40% auto; /* 15% from the top and centered */
  padding: 0px;
  width: 300px; 


}
.homepopup{
    font-size: 72px;
    color: #c282ef;
    text-align: center;
    padding-top: 10px
}
.homepopup2{
    font-size: 16px;
    line-height: 24px;
    color: white;
    text-align: center;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.homepopup3{
    color: white;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;

}
.questionhome{
margin-left: 5px;
    max-width: 30px;
    margin-top: 15px;
    z-index: 1;
    position: fixed;
}
.questionhome:hover{
    max-width: 40px;
    transition: 0.3s ease;
    margin-left: 3px;
    margin-top: 12px;
}
.introbtn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #c282ef;
    color: white;
}
.introbtn:hover{
    background-color: #ce99f3;
    color: white;
}
.backbtn:hover{
    background-color: #ce99f3;
    color: white;
}
.backbtn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #c282ef;
    color: white;
}
.flash{
   position: relative;
    margin: 2px;
    width: 398px;
    height: 25px;
}



    
    
    
    .modal-content{
width: 400px; 
}
    h2{
        font-size: 20px;
    }
    .accept, .seriously{
        font-size: 18px;
    }
    .warningmobile{
        display: block;
        width: 100vw;
        margin-left: -5%;
    }
     .congratsmobile{
        display: block;
        width: 100vw;
        margin-left: -5%;
         padding-top: 20vh;
         padding-bottom: 10vh;
    }
    .warningcomp{
        display: none;
    } 
    .warningbody{
    background-image: url(file:///Users/apple/Documents/3rd%20Year%20Viscom/Website_coding/redesign/Warning_Mobile.gif);
    background-repeat:repeat-y;
    background-position: center;
    background-size: cover;
    z-index: 1;   
}
    .phonehome{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
     .phonehome2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100px;
    }
    .comphome{
        display: none;
    }   
     .comphome2{
        display: none;
    }  
    .baffled{
        font-size: 102px;
    }
   .requesticon{
    margin-left: 43%;
    margin-right: 43%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.requestbtn{
    padding-top: 20px;
    padding-bottom: 40px;

}
.accept{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #fc5162;
    color: white;
}
.seriously{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #fc5162;
}
    .modal{
     margin-top: -200px;   
    } 
   
    
    h1{
        font-size: 102px !important; 
        line-height: 108px !important;
        padding-top: 35vh;
        margin-top: 0 !important;
    }
    .popphone{
        display: block;
        margin-top: 10px;
        /*margin-left: -100px;*/
        width: 90vw;
    }
    .popcomp{
        display: none;
    }
    .on{
    left: 160px;

}
.off{
    padding-top: 200px;
    left: 175px;
}
.privacyswitch{
    left: 268px;;
    position: absolute;
    margin-top: 230px;
}
    .icrow2{
    margin-right: auto;
    margin-left: auto;
    width: 205px;
}
.gap {
    padding-bottom: 20px;
}
  .screentimep1{
    max-width: 387px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 130px;
    }  
    p{
        font-size: 18px !important;
        line-height: 24px !important;
    }
    .privp1{
        min-width: 369px;
    }
    /*privh1{
        font-size: 18px;
    }*/
    .intropriv{
        margin-left: auto;
        margin-right: auto;
        max-width:369px;
    }
     .introscreen{
        margin-left: auto;
        margin-right: auto;
        max-width:369px;
    }
     .introloc{
        margin-left: auto;
        margin-right: auto;
        max-width:369px;
         widows: none;
    }
    .onbr{
        display: block !important;
    }
    .introvalid{
    max-width: 370px;
    margin-left: auto;
    margin-right: auto;
}
        .heartbounce2{
    max-width: 170px;
        margin-left: auto;
        margin-right: auto;
}
.validrow1{
      padding-top: 380px; 
      max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}
    .factsrow1{
      padding-top: 200px; 
      max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}
    .factsp{
        padding-top: 40px;
        padding-bottom: 240px;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    }

.validp{
    padding-bottom: 240px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
    
    .validp2{
    padding-bottom: 240px;
    max-width: 300px;
   margin-left: auto;
        margin-right: auto;
            padding-top: 40px;
}
    .introsupport{
        margin-left: auto;
        margin-right: auto;
        max-width:369px;
    }
        .supportp2{
    margin-left: auto;
    margin-right: auto;
    max-width: 383px;
    padding-bottom: 240px;
    padding-top: 70px;
}
    .priviconphone{
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-bottom: 200px;
    }
      .warningp{
    color: white;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    top: 0px;
    position: relative;
    max-width: 310px;
}
       .congratsp{
    color: white;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    top: 160px;
    position: relative;
    max-width: 300px;
}
    .landing{
        max-width: 290px;
        margin-left: auto;
        margin-right: auto;
    }
}



/*//////////////SMALL//////////*/


@media only screen and (max-width: 375px){
    
    .flash{
   position: relative;
    margin: 2px;
    width: 298px;
    height: 25px;
}

  
    p{
        max-width: 300px !important;
        margin-left: auto;
        margin-right: auto;
        font-weight: 300;
    }
    .cyberwhatwedo{
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vh;
    padding-bottom: 45vh;
}
     h1{
        font-size: 72px !important; 
        line-height: 78px !important;
        padding-top: 35vh;
        margin-top: 0 !important;
    }
    .onbr{
        display: none !important;
    }
    .modal-content{
    width: 300px; 
    }
    .close {
  margin-left: 90%;
}
    
    .popup{
    font-size: 16px;
    }
    .accept{
        font-size: 16px;
    }
    .seriously{
        font-size: 16px;
    }

    .maptitle{
       font-size: 44px !important;
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .locbounce{
    margin-left: auto;
    margin-right: auto;
   width: 200px;
    padding-bottom: 5vh;
}
    
    .convotitle{
       font-size: 44px !important;
        margin-left: 30px;
        margin-right: 30px;
    }
    .bubbles{
        padding-top: 800px;
    }
    .on{
    padding-top: 240px;
    left: 50px;
    right: 41vw;
    background-color: transparent;
    position: relative;
    z-index: 5;
    display: block;  
}
.off{
    background-color: transparent;
    position: absolute;
    z-index: 3;
    display: block;
    padding-top: 240px;
    left: 65px;
    right: 41vw;
}
    h4{
    color: white;
    font-size: 18px;
}
.privacyswitch{
    left: 160px;
    margin-top: 270px;

}
.dropdownglyph:hover .dropdowncontentglyph     {
    margin-top:-320px;
    display: block;
    margin-left: 5px
    }
      .priviconphone{
        width: 95%;
          height: 95%;
        display: block;
        padding-bottom: 200px;
    }
    .home{
    position: fixed !important;
    margin-top: 0px;
    margin-left: -15px;
    z-index: 100;
}
    .maprow2{
    padding-top: 20vh;
        padding-bottom: 10vh;
}
 #slidetext {
  font-size: 44px;
  width: 80vw;
  text-align: left;
    margin-top: 0vh;
    line-height: 50px;
}   
    .explicitphone{
        padding-top: 40vh;
    }
    .explicitp{
        max-width: 280px;
        margin-top: 20px;
        float: left;
        margin-left: 15vw;
    }
    .supportdanger{
        
    }
    .heartbounce{
    max-width: 150px;
    margin-left: auto;
        margin-right: auto;
        margin-top: -200px;
}
.heartbounce2{
    padding-right: 40px;
    }

    .warning{
       max-width: 270px !important;
    margin-left: auto;
    margin-right: auto;
}
    .warningp{
        font-size: 16px;
        margin-top: -350px;
    }
    .baffled{
        font-size: 72px;
    }
    .intro{
        font-weight: 300;
    }
    .convorow1{
      padding-top: 280px; 
      max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
    .squareeye{
        max-width: 180px;
        margin-left: auto;
        margin-right: auto;
    }
    .load{
        max-width: 95vw;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }
    .screenrow5{
        padding-top: 300px;
    }
    .phonehome{
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .baffledtitle{
    margin-top: -30px;
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
}
.baffledtitlemobile{
    
}
    .warningbody{
        background-color: #fc5162
    }
}

.baffledhome{
    font-size: ;
    color: white !important;
    position: fixed;
    margin-top: 30px;
    margin-left: 20px;
    z-index: 100;
    font-size: 27px;
}
.baffledhome:hover{
    transition: 0.3s ease;
    margin-top: 27px;
    margin-left: 17px;
    color: black;
}
.redfoot1{
    font-size: 27px;
    color: #fc5162;
    padding-left: 100px;
}
.redfoot2{
    font-size: 18px;
    line-height: 24px;
    color: #fc5162;
}
.bluefoot1{
    font-size: 27px;
    color: #008cff;
    padding-left: 100px;
}
.bluefoot2{
    font-size: 18px;
    line-height: 24px;
    color: #008cff;
}
.greenfoot1{
    font-size: 27px;
    color: #00ce9c;
    padding-left: 100px;
}
.greenfoot2{
    font-size: 18px;
    line-height: 24px;
    color: #00ce9c;
}
.purplefoot1{
    font-size: 27px;
    color: #c282ef;
    padding-left: 100px;
}
.purplefoot2{
    font-size: 18px;
    line-height: 24px;
    color: #c282ef
}
.purple2foot1{
    font-size: 27px;
    color: #dab3f5;
    padding-left: 100px;
}
.purple2foot2{
    font-size: 18px;
    line-height: 24px;
    color: #dab3f5;
}
.blue2foot1{
    font-size: 27px;
    color: #6cccff;
    padding-left: 100px;
}
.blue2foot2{
    font-size: 18px;
    line-height: 24px;
    color: #6cccff;
}
.footericon{
    padding-right: 20px;
    width: 55px;
}
.footericon:hover{
    width: 60px;
    transition: 0.3 ease;
}
.footericon3{
    padding-right:0px;
    width: 38px;
}
.footericon3:hover{
    width: 44px;
    transition: 0.3 ease;
}
.footericons{
    max-width: 194px;
    margin-left: auto;
    margin-right: auto;
}
.footerlink:hover{
    color: white;
}
.footercyberlogo{
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
}






.blue{
    color:#008cff; 
}
.ablack:hover{
    color: black;
}
.blue2{
    color: #6cccff;
}
.red{
    color:#fc5162; 
}
.green{
    color:#00ce9c; 
}
.textgreen{
    color: #00a47b;
}
.purple{
    color:#c282ef; 
}
.purple2{
    color:#dab3f5; 
}



@media only screen and (max-width: 728px){
            
 .footericon:hover{
    width: 55px;

}
.footericon3:hover{
    width: 38px;
    
}
    }